<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table border="1">
        <tr>
            <th>Aluno</th>
            <th>Matrícula</th>
        </tr>
        <tr><td>Bianca</td><td>98765432</td></tr>
        <tr><td>Lívia</td><td>24681357</td></tr>
        <tr><td>Guilherme</td><td>13579246</td></tr>
        <tr><td>Letícia</td><td>56473829</td></tr>
        <tr><td>Layane</td><td>75826163</td></tr>
    </table>

    <p><a href="/">Voltar</a></p>
</body>
</html>
